Source: ros-jazzy-mrpt-libros-bridge
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libfreenect-dev, libgl1-mesa-dev, libglfw3-dev, libglu1-mesa-dev, libjpeg-dev, liboctomap-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libswscale-dev, libtinyxml2-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.2-dev, libxrandr-dev, libxxf86vm-dev, pkg-config, pybind11-dev, python3-pip, ros-jazzy-ament-cmake, ros-jazzy-cv-bridge, ros-jazzy-geometry-msgs, ros-jazzy-mrpt-libmaps, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-ros-environment, ros-jazzy-rosbag2-storage, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-stereo-msgs, ros-jazzy-tf2, wx-common, zlib1g-dev, ros-jazzy-ros-workspace
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-jazzy-mrpt-libros-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-cv-bridge, ros-jazzy-geometry-msgs, ros-jazzy-mrpt-libmaps, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-stereo-msgs, ros-jazzy-tf2, ros-jazzy-ros-workspace
Description: Mobile Robot Programming Toolkit (MRPT) libraries (ros2bridge C++ library).
 This package contains: mrpt-ros2bridge
